In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score


df=pd.read_csv("data.csv")

print(df.head())

   Size  Bedroom   Location   Rent
0  1140        3    Kolkata  27567
1  1551        3     Mumbai  32566
2  1706        3      Delhi  37271
3  1785        4  Hyderabad  41039
4  1035        4     Mumbai  24556

In [3]:
le=LabelEncoder()

df["Location_"]=le.fit_transform(df["Location"])

In [4]:
df

    Size  Bedroom   Location   Rent  Location_
0   1140        3    Kolkata  27567          5
1   1551        3     Mumbai  32566          6
2   1706        3      Delhi  37271          3
3   1785        4  Hyderabad  41039          4
4   1035        4     Mumbai  24556          6
..   ...      ...        ...    ...        ...
95  1085        2    Kolkata  27758          5
96   605        1     Mumbai  11853          6
97   913        4    Kolkata  23305          5
98   812        2  Hyderabad  20561          4
99  1319        3       Pune  30955          7

[100 rows x 5 columns]

In [5]:
X=df[['Size','Bedroom','Location_']]
Y= df['Rent']

In [7]:
X_train, X_test, y_train, y_test= train_test_split(X,Y ,test_size=0.2,random_state=42)

In [8]:
model=LinearRegression()
model.fit(X_train,y_train)
print("model trained")

model trained

In [9]:
y_predict=model.predict(X_test)

In [12]:
print("R2 score: ", r2_score(y_test, y_predict))

R2 score:  0.9432562989421657

In [ ]:
#compare=pd.DataFrame({'Actual': y_test, 'Prediction': y_predict.astype(int)})
#print("\nActual vs prediction:\n", compare.head())

Actual vs prediction:
     Actual  Prediction
83   32953       33304
53   20692       21767
70   32226       28660
45   31579       33687
44   16187       14517

In [11]:
new_location='Mumbai'

new_location_insdex=le.transform([new_location])[0]

new_data=[(1200,3,new_location_insdex)]

predict=model.predict(new_data)

print(f"predicted rent based on this data is {predict}")

predicted rent based on this data is [27959.58136791]

c:\Users\ANSHIK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(